body {
    width: 100%;
    text-align: center;
    font-family: 'PT Sans';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-variant-ligatures: no-common-ligatures;
    text-rendering: optimizeSpeed;
}

#centered {
    display: inline-block;
}

h1 {
    color: #323B3C;
    font-family: 'PT Sans Narrow';
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 5px;
    margin-bottom: 30px;
    text-transform: uppercase;
}

#centered h2 {
    color: #323B3C;
    font-family: 'PT Sans Narrow';
    font-size: 40px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 4px;
    text-transform: uppercase;
    margin-top: 0;
}

h2 a {
    color: #323B3C;
}

h2 a.wjctlogo {
    color: #000;
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: lowercase;
    letter-spacing: .1px;
    font-size: 3rem;
    line-height: 3rem;
    padding: 5 5px 8px;
}

a span.c {
    color: #ffd600;
}

h3 {
    color: #323B3C;
    font-family: 'PT Sans Narrow';
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 2.5px;
}

p {
    color: #516163;
    font-family: 'PT Sans';
    font-size: 22px;
    font-weight: 300;
    line-height: 36px;
    margin-bottom: 36px;
}

div {
    font-family: 'PT Sans', 'Open Sans', arial, sans-serif;
    ;
}

a {
    color: #63B2BB;
    text-decoration: none;
}

div.social a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

div.social {
    text-align: left;
    font-size: 24px;
    border-radius: 15px;
    padding: 20px;
    height: 30px;
    margin: 20px;
    color: white;
    display: flex;
    align-items: center;
}

i {
    margin-right: 20px;
}

.fab,
.fas,
.far {
    font-size: 1.5rem;
}

.title {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.social.buymeacoffee {
    background: rgb(255, 221, 0);
    color: #000000;
    font-weight: 600;
}

.Facebook {
    background: #3b5998;
}

.Instagram {
    background: #c32aa3;
    background: radial-gradient(circle at -10% 130%, #fdf497 5%, #fdf497 5%, #fd5949 25%, #d6249f 40%, #285AEB 90%);
}

.LinkedIn {
    background: #0077B5;
}

.Twitter {
    background: #1da1f2;
}

.Twitch {
    background: #9146FF;
}

.YouTube {
    background: #ff0000;
    margin-right: 15px;
}

.Yelp {
    background-color: rgb(211, 35, 35)
}

.TikTok {
    background: #000;
}

.GitHub,
.JaxPlays {
    background: #24292f;
}

.fa-jaxplays {
    margin-right: 5px;
    margin-left: -10px;
}

.fa-jaxplays:before {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    content: "";
    margin-right: 5px;
    background: url(https://jaxplays.com/wiki/media/NewJaxPlaysLogo.png) no-repeat 0 0;
    background-size: 2rem;
    /* border-radius: 50%; */
}

.fa-tiktok:before {
    display: inline-block;
    height: 24px;
    width: 20px;
    content: "";
    filter: brightness(0) invert(1);
    margin-right: 5px;
    background: url(/media/tiktok-icon-black.svg) no-repeat 0 0;
    background-size: 20px 24px;
}

.OddBall {
    background: #464A2D;
}

.HollistersBooks {
    background: #2271B1;
}

.fa-HB {
    margin-right: 5px;
    margin-left: -10px;
}

.fa-HB:before {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    content: "";
    margin-right: 5px;
    background: url(/media/2022/02/HollistersBooksIcon-100x100-1.png) no-repeat 0 0;
    background-size: 2rem;
    border-radius: 50%;
}

.JME {
    background: linear-gradient(to right, #272460 0%, 16.75257682800293%, #8F298D 33.50515365600586%, 47.680410742759705%, #7A5AA5 61.85566782951355%, 80.92783391475677%, #26ABE2 100%);
    background: linear-gradient(to right, rgba(39, 36, 96, 1) 0%, 16.75257682800293%, rgba(143, 41, 141, 1) 33.50515365600586%, 47.680410742759705%, rgba(122, 90, 165, 1) 61.85566782951355%, 80.92783391475677%, rgba(38, 171, 226, 1) 100%);
}

.ADAPT {
    background-color: #F15648;
}

.fa-ADAPT {
    margin-right: 5px;
    margin-left: -5px;
}

.fa-ADAPT:before {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    content: "";
    margin-right: 5px;
    background: url(/media/2022/07/ADAPT-FAVICON.png) no-repeat 0 0;
    background-size: 1.5rem;
    border-radius: 50%;
    box-shadow: 0px 0px 3px 1px #fff;
}

.fa-oddball {
    margin-right: 5px;
    margin-left: -5px;
}

.fa-oddball:before {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    content: "";
    margin-right: 5px;
    background: url(/media/2019/08/oddball_header_logo.png) no-repeat 0 0;
    background-size: 1.5rem 1.5rem;
}

.fa-jme {
    margin-right: 5px;
    margin-left: -10px;
}

.fa-jme:before {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    content: "";
    margin-right: 5px;
    background: url(/media/2020/07/JMELogo_70x70.png) no-repeat 0 0;
    background-size: 2rem;
}

.JAXTDY {
    background: -moz-linear-gradient(0% 50% 0deg, rgba(118, 203, 234, 1) 0%, rgba(88, 221, 204, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(118, 203, 234, 1) 0%, rgba(88, 221, 204, 1) 100%);
    background: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0, rgba(118, 203, 234, 1)), color-stop(1, rgba(88, 221, 204, 1)));
    background: -o-linear-gradient(0deg, rgba(118, 203, 234, 1) 0%, rgba(88, 221, 204, 1) 100%);
    background: -ms-linear-gradient(0deg, rgba(118, 203, 234, 1) 0%, rgba(88, 221, 204, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#76CBEA', endColorstr='#58DDCC' ,GradientType=0)";
    background: linear-gradient(90deg, rgba(118, 203, 234, 1) 0%, rgba(88, 221, 204, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#76CBEA', endColorstr='#58DDCC', GradientType=1);
}

.fa-jaxtdy {
    margin-right: 5px;
    margin-left: -10px;
}

.fa-jaxtdy:before {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    content: "";
    margin-right: 5px;
    background: url(/media/2021/10/JAXTDY_Letters_Logo.png) no-repeat 0 0;
    background-size: 2rem;
    border-radius: 50%;
}

.WJCTNews {
    background-color: #2C3E50;
}

.fa-wjctnews {
    margin-right: 5px;
    margin-left: -10px;
}

.fa-wjctnews:before {
    display: inline-block;
    height: 2rem;
    width: 2rem;
    content: "";
    margin-right: 5px;
    background: url(/media/2021/10/wjct-news-260x260-favicon-w.png) no-repeat 0 0;
    background-size: 2rem;
    border-radius: 50%;
}

.pogo {
    background-color: #63B2BB;
}

.fa-pogo {
    margin-right: 5px;
    margin-left: -5px;
}

.fa-pogo:before {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    content: "";
    margin-right: 10px;
    background: url(/media/apple-touch-icon.png) no-repeat 0 0;
    border-radius: 50%;
    background-size: 1.5rem 1.5rem;
}

.WJCT {
    background-color: #006BB6;
    color: #fff !important;
}

.fa-WJCT {
    margin-right: 5px;
    margin-left: -5px;
}

.fa-WJCT:before {
    display: inline-block;
    height: 1rem;
    width: 1.6rem;
    content: "";
    margin-right: 5px;
    background: url(/media/2021/03/wjct_public_media_logo.png) no-repeat 0 0;
    background-size: 1.6rem 1rem;
}

@media only screen and (min-width: 750px) {
    .wjctlong:after {
        content: " Public Media"
    }

    .jmelong:after {
        content: " - Jacksonville Music Experience"
    }

    .jmelong {}

    #centered {
        width: 750px;
    }
}

.TMinusZero {
    background-color: #000;
}

.fa-TMinusZero {
    margin-right: 5px;
    margin-left: -5px;
}

.fa-TMinusZero:before {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    content: "";
    margin-right: 5px;
    background: url(/media/2020/07/Tminus0-circle_logos-stars-moon.png) no-repeat 0 0;
    border-radius: 50%;
    background-size: 1.5rem 1.5rem;
    box-shadow: 0px 0px 3px 1px #fff;
}

.Firework {
    background-image: linear-gradient(to right, rgb(255, 44, 114), rgb(255, 115, 20));
}

.Medium {
    background: #e8f3ec;
    color: #1b1b1a;
}

div.Medium {
    color: #1b1b1a;
}

.Snapchat {
    background: #FFFC00;
}

div.Snapchat {
    color: black;
}

.Snapchatlogo {
    border-radius: 5px;
    background-color: black;
    color: white;
    padding: 4px;
    font-size: 20px;
}

.Tumblr {
    background: #34526f;
}

.Quora {
    background: #aa2200;
}

.Wordpress {
    background: #21759b;
}

.MuckRack {
    background: #000;
}

.Patreon {
    background: #f96854;
}

.GoFundMe {
    background: #02a95c;
}

svg.hero-content-start-button-icon {
    height: 1.5rem;
    width: 1.5rem;
    content: "";
    margin-right: 25px;
}

.fa-MealTrain:before {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    content: "";
    margin-right: 5px;
    background: url(/media/2022/03/mealtrain_primary_logo_color.png) no-repeat 0 0;
    border-radius: 50%;
    background-size: 1.5rem 1.5rem;
    box-shadow: 0px 0px 3px 1px #fff;
}

.MealTrain {
    background-color: #01467F;
}

.rhdotcom {
    background-color: #323B3C;
}

.brokenback a {
    font-weight: 600;
    font-style: italic;
    color: #323B3C;
}

.spacer {
    height: 300px;
}

@media only screen and (max-width: 600px) {
    #centered {
        padding-right: 10px;
    }

    h1 {
        font-size: 10vw;
        line-height: 10vw;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 6vw;
        line-height: 8vw;
    }

    h2 a.wjctlogo {
        font-size: 9vw;
        line-height: 1vw;
    }

    h3 {
        font-size: 5vw;
        line-height: 5vw;
    }

    div.social {
        font-size: 4.5vmin;
        margin: 20px 10px 20px 0px;
        height: 4.5vw;
    }

    .fab,
    .far,
    .fas
        {
        font-size: 6vw;
    }
}