/* Voter's Guide Stuff */
.social.vg i.fab::before {
  height: 3rem;
  width: 3rem;
  background-size: 3rem;
}

.social.vg .title {
    flex-direction: column;
    padding-left: 10px;
}

.social.vg {
    padding: 30px;
}



.social.fcc {
    background-color: white;
    color: #666;
    border: 1px solid #666;
}

.fa-fcc {
    margin-right: 5px;
    margin-left: -10px;
}

.social.vg i.fab.fa-fcc::before {
    display: inline-block;
    height: 4rem;
    width: 4rem;
    content: "";
    background: url(https://npr.brightspotcdn.com/dims4/default/fcb1390/2147483647/strip/true/crop/3000x3000+0+0/resize/560x560!/format/webp/quality/90/?url=http%3A%2F%2Fnpr-brightspot.s3.amazonaws.com%2F50%2F80%2F9e1716f9487792af84db9fdc3ed8%2Ffirst-coast-connect-logo-3000px.png) no-repeat 0 0;
    background-size: 4rem;
}

.social.jaxpbs {
    background-color: #2638c4;
    color: white;
    border: 1px solid #666;
}

.fa-jaxpbs {
    margin-right: 5px;
    margin-left: -10px;
}

.social.vg i.fab.fa-jaxpbs::before {
    display: inline-block;
    height: 1.5rem !important;
    width: 5rem !important;
    content: "";
    margin-right: 5px;
    background: url(https://image.pbs.org/stations/wjct-white-cobranded-logo-xJrxRxV.png) no-repeat 0 0;
    background-size: 5rem !important;
}