<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "NewsArticle",
  "headline": "{{ include.headline | escape }}",
  "url": "{{ include.url }}",
  "datePublished": "{{ include.date }}",
  "author": { "@type": "Person", "name": "Ray Hollister" },
  "publisher": { "@type": "{{ include.publisher_type | default: 'Person' }}", "name": "{{ include.publisher_name | default: 'Ray Hollister' | escape }}" },
  "description": "{{ include.dek | strip_newlines | escape }}"
}
</script>
