<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tachyons/7.0.1-4/tachyons.min.css" integrity="sha512-HXHv6KvVde82RyLBQA5eIA1o5rUyKeUVWr19gM1g62/9nzo3bTcu5hGMKTHl/aqe7k615VCwarJeODJne5RplQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/override-styles.css">
  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
