---
layout: base
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape_once }}</h1>
    <div class="post-categories">
      {% if post %}
        {% assign categories = post.categories %}
      {% else %}
        {% assign categories = page.categories %}
      {% endif %}
      {% for category in categories %}
      <a href="{{site.baseurl}}/categories/#{{category|slugize}}">{{category}}</a>{% unless forloop.last %},&nbsp;{% endunless %}
      {% endfor %}
    </div>
    <p class="post-meta">
      {%- assign date_format = "%B %-d, %Y at %-I:%M %P" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
      {%- if page.author -%}
        • {% for author in page.author %}
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
            <span class="p-author h-card" itemprop="name">{{ author }}</span></span>
            {%- if forloop.last == false %}, {% endif -%}
        {% endfor %}
      {%- endif -%}
    </p>
      {%- if page.image -%}
      <img src="{{ page.image | relative_url }}" alt="{{ page.title | escape }}" class="post-featured-image">
      {%- endif -%}
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  <nav class="post-pagination">
      {%- if page.previous -%}
      
      <span class="nav-left">
          <a href="{{ page.previous.url | relative_url }}" rel="prev">
            <i class="fa-solid fa-circle-left"></i> Previous Post<br />
            {{ page.previous.title | escape_once }}
          </a>
        </span>
      {%- endif -%}
      {%- if page.next -%}
      <span class="nav-right">
          <a href="{{ page.next.url | relative_url }}" rel="next">
            Next Post <i class="fa-solid fa-circle-right"></i><br />
            {{ page.next.title | escape_once }}
          </a>
        </span>
      {%- endif -%}
    </ul>
  </nav>
</article>
